@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
    height: 100%;
}
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1280px;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: black;
    background-color: #F2F2F2;
}

.main-container {
    flex-grow: 1;
}

.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;  
}

.main-header {
    color: black;
    background-color: #ffff;
}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    min-height: 70px;
    text-align: center;
    padding: 0 70px;
}
.navigation-logo {
    margin-left: 70px;
    margin-right: 30px;
}

.navigation-list {
    display: flex;
    width: 390px;
    margin: 0;
    padding: 20px 0;
    list-style-type: none;
}

.navigation-item {
    margin-right: 34px;
}

.navigation-user {
    display: flex;
    width: 264px;
    margin-left: auto;
    font-size: 20px;
    line-height: 26px;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;
}

.icon-search::before {
    content: url("../images/icon-search.svg");
}

.icon-favorite::before {
    content: url("../images/icon-favorite.svg");
}

.button {
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    background: #82B3D3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.navigation-list .button {
    width: 160px;
    height: 37px;
    font-size: 16px;
    background-color: #756157;
    margin-left: 20px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

.welcome-container {
    display: block;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: #242424;
    background: url("../images/index-background.jpg");
    padding-bottom: 0;
    text-align: center;
    min-height: 485px;
}
.welcome-container::after {
    content: url("../images/index-divider.svg");
}

.advantages {
    background-color: #FFFFFF;
} 

.advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.advantages-main-title {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}

.advantages-item {
    width: 400px;
    min-height: 384px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image {
    width: 800px;
    min-height: 384px;
    margin: 0;
    padding: 0;
}

.accent100 {
    background-color: #82B3D3;
    color: #FFFFFF;
}
.accent20 {
    background-color:  rgba(131, 179, 211, 0.12);
}

.accent12 {
    background-color: rgba(131, 179, 211, 0.2);
}

.accent0 {
    background-color: #FFFFFF;
}

.home::before {
    content: url("../images/advantages-home.svg");
    width: 75px;
    height: 72px;
}

.food::before {
    content: url("../images/advantages-food.svg");
    width: 74px;
    height: 72px;
}

.souvenirs::before {
    content: url("../images/advantages-souvenir.svg");
    width: 75px;
    height: 72px;
}

.search {
min-height: 417px;
background: #FFFFFF;
}

.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-subtitle {
}

.search-button {
    width: 574px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    background-color: #756157;
    padding: 12px 100px;
}

.newsletter {
    color: #FFFFFF;
    background-color: #242424;
    background-image: url(../images/newsletter-background.jpg);
    background-size: 100% auto;
    min-height: 417px;
}

.newsletter-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.newsletter-subtitle {
}

.field {
    width: 600px;
    height: 60px;
    font-size: 18px;
    font-weight: 21px;
    color: #242424;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px 0 0 10px;
    padding-left: 22px;
}

.newsletter-button {
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    border-radius: 0 10px 10px 0;
}

.page-footer-container {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    width: 1200px;
    margin: 0 auto;
    padding: 40px 70px 30px 70px;
    background-color: #FFFFFF;
    width: 1200px;
}
  
.footer-social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 142px;
    padding: 0;
    margin-right: 42px;
}

.contacts-phone {
    width: 720px;
    margin-right: 40px;
    font-size: 40px;
    line-height: 40px;
    padding: 0 195px;
    text-decoration: none;
}

.footer-copyright-logo {
    width: 115px;
}

.main-inner {
    width: 1200px;
    background-color: #FFFFFF;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    text-align: left;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    width: 495px;
    margin: 0;
}

.breadcrumbs {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.breadcrumbs-hotel {
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-home::before {
    content: url("../images/icon-home-breadcrumbs.svg");
    margin-right: 10px;
}

.breadcrumbs-arrow::before {
    content: url("../images/icon-breadcrumbs-arrow.svg");
    margin-right: 10px;
}

.filter-container {
    min-height: 400px;
    background-color: #242424;
    background-image: url("../images/background-inner.jpg");
    background-size: cover;
    color: #FFFFFF;
    padding: 35px 70px 70px 70px;
}

.catalog-filter {
    display: flex;
    justify-content: flex-start;

}

.catalog-filter-group {
    display: flex;
    border: none;
    margin-right: 70px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700px;
}

.catalog-filter-list {
    width: 150px;
    font-size: 18px;
    line-height: 21px;
    list-style-type: none;
    padding: 0;
}
.filter-price {
    margin: 0 70px 0 105px;
}

.fiter-button {
}

.button-active {
    font-size: 16px;
    line-height: 21px;
}

.button-unactive {
    font-size: 16px;
    line-height: 21px;
    background-color: ;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 72px 56px 72px;

}

.result {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 190px;
}

.select-control {
    width: 290px;
    min-height: 50px;
    border: 2px;
    border-color: #E5E5E5;
    margin-right: 78px;
    font-size: 18px;
    line-height: 21px;
}

.select-button {
    display: flex;
    justify-content: space-between;
    width: 160px;
}

.button-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    padding: 14px 12px;
    border: 2px;
    border-color: #E5E5E5;
    border-radius: 4px;
    margin-right: 8px;    
}

.button-icon:first-child {
    border-color: #242424;
}

.button-icon:last-child {
    margin-right: 0;
}

.icon-select-slideshow::before {
    content: url("../images/icon-select-slideshow.svg");
}

.icon-select-tile::before {
    content: url("../images/icon-select-tile.svg");
}

.icon-select-list::before {
    content: url(../images/icon-select-list.svg);
}


.lodge-list {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 1056px;
    list-style-type: none;
}

.lodge-card {
    padding: 20px;
    margin-right: 18px;
}

.lodge-card:nth-child(3n) {
    margin: 0;
}

.lodge-card-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.lodge-type {

}
    
lodge-card-price {

}

.rating {

}

.lodge-card-button {
    background-color: #756157;
}

button-add-favorites {

}

.button-favorites {
    background-color: #7DB54F;
}

.pagination-container {
    display: flex;
    margin: 0 auto;
    width: 1056px;
    align-items: center;
}

.pagination {
    display: flex;
    width: 400px;
    list-style-type: none;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #82B3D3;
    font-size: 20px;
    line-height: 26px;
    margin-right: 8px;
}

.current {
    background-color: #F2F2F2;
    color: #242424;
}

.number-cards {
    font-size: 18px;
    line-height: 21px;
    margin-left: auto;
    
}

.inner-newsletter {
    min-height: 410;
    text-align: center;
    background-color: #FFFFFF;
}

.field-inner {
    background-color: #F2F2F2;
}